h3 {
  color: white;
}

body {
  color: white;
  background-color: #2e2f30;
  margin: 10px;
  white-space: nowrap;
  text-align: center;
  padding: 10px;
}

#breached {
  color: red;
  font-size: 18px;
}

h1 {
  font-size: 15px;
}

#container {
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
